/* download.css - styles for the download section */

.download-container {
  padding: var(--spacing-large);
  background: transparent;
}

.download-title {
  margin: 0;
}

.download-subtitle {
  margin: 0;
  line-height: 1.4;
}

.download-link {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  border-radius: 12px;
  background: var(--color-background);
}

.download-button {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 32px;
  cursor: pointer;
  background: #FFF; /*#FF5900*/
  color: #161616;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.download-link-text {
  font-size: 16px;
  font-weight: 500;
  color: #000; /*#161616*/
  text-decoration: underline;
  margin: 0;
}

.download-version {
  font-size: 12px;
  color: var(--color-secondary);
  margin-top: 12px;
  text-align: center;
  /*background-color: pink;*/
}

.download-require {
  font-size: 12px;
  color: var(--color-secondary);
  margin-bottom: 12px;
  text-align: center;
  /*background-color: green;*/
}
