/* header.css - styles specific to the header */

/* Header layout */
.header {
  padding-top: var(--spacing-medium /*large*/);
  padding-bottom: var(--spacing-medium /*large*/);
  background-color: seagreen; /*⚠️️ debug ⚠️️*/
}

/* Flex container for header content */
.header-container {
  display: flex;
  padding: var(--spacing-medium);
  gap: var(--spacing-small);
  background: var(--color-background);
  border-radius: 12px;
  align-items: center;
  
}

.header-logo {
  height: 32px;
  width: auto;
  margin-right: var(--spacing-small);
  vertical-align: middle;
}

.header-title {
  color: var(--color-text-primary);
}

.header-stats {
  color: var(--color-text-secondary);
}
