/* hero.css - styles for the hero section */

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium /*medium*/);
  gap: var(--spacing-large);
  background: transparent;
  background-color: blue; /*⚠️️ debug ⚠️️*/
}

.hero-image {
  flex: 1;
}

.hero-text {
  flex: 1;
  color: var(--color-text-primary);
}

.hero-title {
  margin: 0;
}

.hero-subtitle {
  margin-top: var(--spacing-small);
}

.hero-logo img {
  height: 120px;
  width: auto;
}
